/*==========================================================================================*/
/* General Styles */

.logo {
    width: 100%;
    height: 100%;
}

.imagen_carrousel{
    width: 100%;
    height: 300px;
}

.navbar-nav, .me-auto {
    flex: 1;
    display: flex;
    justify-content: end;
}

.navbar-brand {
    width: 10%;
}

/*==========================================================================================*/
/* Page Home */

.image-card{
    height: 200px;
}


/*==========================================================================================*/
/* Page UpcomingEvents */



/*==========================================================================================*/
/* Page PastEvents */


.d-img {
    height: 100%;
    object-fit: cover;
    filter:brightness(0.6);
}

.d-item {
    height: 250px;
}

/*==========================================================================================*/
/* Page Contact */



/*==========================================================================================*/
/* Page Details */



/*==========================================================================================*/
/* Page Stats */



/*==========================================================================================*/