/*==========================================================================================*/
/* General Styles */

.logo {
    width: 100%;
    height: 100%;
}

.imagen_carrousel{
    width: 100%;
    height: 300px;
}

.navbar-nav, .me-auto {
    flex: 1;
    display: flex;
    justify-content: end;
}

.navbar-brand {
    width: 10%;
}

/*==========================================================================================*/
/* Page Home */



/*==========================================================================================*/
/* Page UpcomingEvents */



/*==========================================================================================*/
/* Page PastEvents */
/* Este div contiene todo el from*/



/*==========================================================================================*/
/* Page Contact */
.first-container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    min-height: 100vh;
}



/*==========================================================================================*/
/* Page Details */



/*==========================================================================================*/
/* Page Stats */



/*==========================================================================================*/